<!DOCTYPE html>
  <!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
  <!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
  <!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
  <!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/syntax.css">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

  </head>
  <body>
    <p class="head-label">As anything in life, this is a work in progress.</p>
    <div class="container">

      <header class="sixteen columns ">
        <a href="/" style="text-decoration:none;"><h1>{{ site.name }}</h1></a>
        <hr />
      </header>

      <!-- Primary Page Layout
      ================================================== -->

      <article class="ten columns">
        {{ content }}
      </article>


      <sidebar class="six columns">
        <h3>About</h3>
        <h5>Things, Data, Code & Business</h5>
        <article>
          <p>Founder and CEO at <a href="http://unplu.gg">unplu.gg</a>. Consulting at <a href="http://whitesmith.co">whitesmith.co</a>.</p>

          <p>The web is a tremendous event. But can be a passing one, if it isn't used to improve the sustainability of our society. Much of this can be acomplished with the emerging Internet of Things and the potential analysis of real-life data. Code is the glue, business is the driver. And that is what I want to work on for now.</p>
          <p> When I got time to wander, I discover that I'm a data nerd. So expect some egocentric quantified self content around here.
          </p>
          <p>
            <script type="text/javascript">
            //<![CDATA[
            <!--
            var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
            "=92){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
            ".substr(0,ol);}f(\")38,\\\"300\\\\700\\\\r\\\\430\\\\620\\\\r\\\\S630\\\\41" +
            "0\\\\CGLAN420\\\\310\\\\t^GRE300\\\\IBIs}=yuu;D*sy`zf12Scbo%f`ijaEkgltg330\\"+
            "\\720\\\\R720\\\\730\\\\030\\\\630\\\\620\\\\400\\\\O330\\\\700\\\\630\\\\0" +
            "30\\\\120\\\\200\\\\L1Qr\\\\710\\\\330\\\\000\\\\G700\\\\YFK410\\\\r\\\\500" +
            "\\\\+7/+u.7=:#6;7\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnir" +
            "tS=+o;721=%y{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\"" +
            ")"                                                                           ;
            while(x=eval(x));
            //-->
            //]]>
            </script>
            - <a href="http://twitter.com/rjegundo">twitter</a>
            - <a href="http://github.com/rafaeljegundo">github</a>
          </p>
        </article>
      </sidebar>
      <p>made with <a href="http://www.getskeleton.com/">skeleton</a> & <a href="http://jekyllrb.com">jekyll</a></p>
    </div>
  </body>
</html>
